body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*:not(.logo *){
  font-family : 'europa';
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@font-face{
  font-family : "dakota";
  src : url("./Assets/fonts/dakota.otf") format('truetype');
}
@font-face{
  font-family : "europa";
  src : url("./Assets/fonts/europa-regular-webfont.woff2") format('truetype');
}